
#body {
  overflow: hidden;
  background-color: black;
  
  
  /*margin-left: 25%;*/
}

#taille_logo{
  width: 400px;
  margin:auto;
  margin-top: 25%;

}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

svg {
	position:absolute;
	left:0;
	right:0;
	top:15%;

}

#B, #H, #P, #cercle {
  stroke-dasharray: 1400;
  stroke-dashoffset: 1500;
  animation: dash 4s linear infinite alternate-reverse;
 }
    
@keyframes dash {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
    }
}