h1, h3{
    font-family: 'Playfair Display SC', serif;

}
p{
    font-family: 'Arsenal', sans-serif;

}

    @font-face {
        font-family: 'sofia_regular', "sans-serif";
        src: url('sofia_regular.otf')
}

.navbar{
    background-color: #0c0c0d;
}

.section1{
    background-color: #0c0c0d;
    margin-top: 50px;
 }

.presentation{
    padding: 2em;
    color: white;
    text-align: center;
}
.parcours{
    color: #0c0c0d;
    text-align: center;
    padding: 2em;
}
.section3{
    background-color: #0c0c0d;
}
.creation{
    color: white;
    text-align: center;
    padding: 2em;
}
.contact{
    padding: 2em;
}
.adresse{
    margin-top: 7%;
}
/*FORMULAIRE*/

  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    margin-bottom: 0;
    margin-top: 1%;
  }
  
  input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
    font-weight:bold;

    /* Pour que tous les champs texte aient la même dimension */
    width: 70%;
    height: 25px;
    box-sizing: border-box;
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #0c0c0d;
  }
 #message{
height: 100px;
  }

  .form
  {
      color:#0c0c0d;
      font-family: 'Orbitron', sans-serif;
      font-weight:bold;
      font-size: 13px;
  }
  #bouton_envoi{
      margin-top: 5%;
      width: 120px;
      background-color: #0c0c0d;
      color:white;
  }
  /*FIN FORMULAIRE*/
.logo_reseaux{
height: 100px;
width: 100px;
padding: 1em;
}
.reseaux{
padding: 2em;
text-align: center;
}

.logo{
    text-align: center;
    color: white;
    padding: 2em;
}