body {
    background: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
  
  h1 {
      font-size: 62px;
      padding-bottom: 14px;
      margin-bottom: 0px;
      font-family: 'Playfair Display SC', serif;
  }
  
  h2 {
    font-size: 32px;
    line-height: 46px;
  }
  
  h3 {
    font-size: 26px;
  }
  
  h4 {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
  }
  
  p {
      color: #777;
      font-size: 15px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0.2px;
      font-family: 'Work Sans', sans-serif;
  }

.img-responsive{
    max-width: 100%;
    height: auto;
}

/*---------------------------------------
    General               
-----------------------------------------*/

#presentation,
#portfolio,
#parcours,
#contact {
  padding-top: 80px;
  padding-bottom: 120px;
}

/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: #bdc3c7;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/**********************************************MENU NAVIGATION****************************/
.navbar{
    /* background-color: #0c0c0d; */
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color: #101010;
    
}

.navbar-brand{
    margin-left: 2%;
}

.navbar-nav{
    width: 100%;
    justify-content: flex-end;
    margin-right: 10%;
    
}
/* FIN MENU*/

/********************************************SECTION 1******************************/

#presentation{
    padding: 2em;
    text-align: center;
    padding-top: 250px;
    
}

#presentation hr{
  width: 82px;
  margin-top: 32px;
}

/********************************************** SECTION 2 ***********************************************/

#div_parcours{
  padding: 2em;
  text-align: center;
  padding-top: 173px;
  
}

#parcours hr{
width: 82px;
margin-top: 32px;
}

#cv{
  text-align: justify;
  
}
/*---------------------------------------
   Portfolio section              
-----------------------------------------*/

#portfolio small {
    color: #f0f0f0;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  #portfolio .portfolio-thumb {
    position: relative;
    padding: 0;
    margin-top: 32px;
  }
  
  #portfolio .portfolio-thumb .portfolio-overlay {
    position: absolute;
    background: #222;
    color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: top;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  
  #portfolio .portfolio-item {
      position: absolute;
      top:50%;
      left: 50%;
      -webkit-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
  }
  
  #portfolio .portfolio-thumb:hover .portfolio-overlay {
    opacity: 0.9;
  }
  
  #portfolio .text-center {
    padding-top: 62px;
  }

  /***************************************************FOOTER*****************************/
.text_footer{
    text-align: center;
    color: #a4a4a4;
    margin-top: 3%;
}
/***************************************************** FIN FOOTER********************************/

/******************************************** EFFET SOULIGNEMENT**********************************/
h1{display:inline-block;min-width:50px;}

h1:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .6s ease, background-color .6s ease;
}

h1:hover:after {
	width: 90%;
	background: #444;
}

.titre{min-width:50px;}
.titre {
    text-decoration:none;
    line-height: 35px;
    padding: 0 10px;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.titre:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .6s ease, background-color .6s ease;
}

.titre:hover:after {
	width: 40%;
	background: #444;
}
/* FIN EFFET*/

/*---------------------------------------
   Contact section              
-----------------------------------------*/
#contact{
  padding-top: 253px;
}

#contact .col-md-6,
#contact .col-md-12 {
  padding-left: 0px;
}

#contact .form-control {
  border: 1px solid #f0f0f0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #777;
}

#contact input,
#contact select {
  height: 50px;
}

#contact input[type="submit"] {
  background: #222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
  
}

#contact input[type="submit"]:hover {
  background: #000;
}

.form-control{
  font-family: 'Work Sans', sans-serif;
}

 /*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  color: #777;
  cursor: pointer;
  font-size: 45px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 22px 12px 10px 12px;
}

.social-icon li a:hover {
  color: #000;
  transform: scale(1.1);
}