h1, h3{
    font-family: 'Playfair Display SC', serif;
}
.parcours{
    color : black;
}
p{
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
}

/*MENU NAVIGATION*/
.navbar{
    background-color: #0c0c0d;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand{
    margin-left: 2%;
}

.navbar-nav{
    width: 100%;
    justify-content: flex-end;
    margin-right: 10%;
}
/* FIN MENU*/
/*CONTENU BOOSTRAPP*/
.section1{
    /* background-color: #0c0c0d; */
    background-image: url(img/marbre.jpg);
    height: 800px;
 }

#presentation{
    padding: 2em;
    color: white;
    text-align: center;
    padding-top: 250px;

}
#parcours{
    color: #0c0c0d;
    text-align: center;
    padding: 2em;
    padding-top: 75px;
}
.section3{
    background-color: #0c0c0d;
}
#creation{
    color: white;
    text-align: center;
    padding: 2em;
    padding-top: 75px;
}

.capture{
    width: 250px;
    height: 250px;
    padding: 2em;
}
#contact{
    padding: 2em;
    padding-top: 75px;
}
.adresse{
    margin-top: 7%;
}
/*FIN BOOSTRAPP*/
/*FORMULAIRE*/

  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    margin-bottom: 0;
    margin-top: 1%;
  }
  
  input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
    font-weight:bold;

    /* Pour que tous les champs texte aient la même dimension */
    width: 70%;
    height: 25px;
    box-sizing: border-box;
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #0c0c0d;
  }
 #message{
height: 100px;
  }
  
  .texte_carre{
    resize: none;
  }

  .form
  {
      color:#0c0c0d;
      font-family: 'Orbitron', sans-serif;
      font-weight:bold;
      font-size: 13px;
  }
  #bouton_envoi{
      margin-top: 5%;
      width: 120px;
      background-color: #0c0c0d;
      color:white;
      font-family: 'Poppins', sans-serif;
  }
  label{
    font-family: 'Poppins', sans-serif;
}
/*FIN FORMULAIRE*/

  /*footer*/
.logo_reseaux{
height: 100px;
width: 100px;
padding: 1em;
}
.reseaux{
padding: 2em;
text-align: center;
}

.logo{
    text-align: center;
    color: #444444;
    padding: 2em;
    margin-top: 3%;
}
.cv{
    padding-top: 2em;
}

/* FIN FOOTER*/

/* EFFET SOULIGNEMENT*/
h1{display:inline-block;min-width:50px;}
h1 {
    text-decoration:none;
    line-height: 70px;
    padding: 0 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
h1:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .6s ease, background-color .6s ease;
}
h1:hover:after {
	width: 90%;
	background: #444;
}


.titre{min-width:50px;}
.titre {
    text-decoration:none;
    line-height: 35px;
    padding: 0 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.titre:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .6s ease, background-color .6s ease;
}
.titre:hover:after {
	width: 40%;
	background: #444;
}
/* FIN EFFET*/